<div class="border-1">
  <h1>article.component.html</h1>

  <h2>{{ article.titre }}</h2>
  <div>{{ article.description }}</div>

  <button *ngIf="displayImage" (click)="toogleImage()">Cacher l'image</button>
  <button *ngIf="!displayImage" (click)="toogleImage()">Afficher l'image</button>
  <br>

  <img *ngIf="displayImage" class="image-article" alt="image de l'article {{ article.titre }}"
       src="assets/images/{{ article.image }}">
</div>
