<div class="border-1">
  <h1>menu.component.html</h1>
  <h2>{{ favoriteArticle }}</h2>
  <button (click)="showNews('sport')">Voir les news Sport</button>
  <button (click)="showNews('santé')">Voir les news Santé</button>
  <button (click)="showNews('politique')">Voir les news Politique</button>


  <h2>Mood</h2>

  <button (click)="changeMood('happy.png')">Happy</button>
  <button (click)="changeMood('not-happy.jpg')">Not happy</button>
  <button (click)="changeMood('edf.jpg')">L'equipe de france est nulle !</button><br>

  <img *ngIf="mood != ''" class="image-article" alt="Je ne suis pas content" src="assets/images/{{ mood }}"/>
  </div>
