<div class="border-1">
  <h1>liste-article.component.html</h1>
  <app-article *ngFor="let article of articles"
               [article]="article" (voteArticle)="voteArticle($event)">
  </app-article>
</div>
