<div class="border-1">
  <h1>app.component.html</h1>
  <app-menu [favoriteArticle]="favoriteArticle"></app-menu>

  <app-liste-article (voteArticleEmiter)="voteArticle($event)"></app-liste-article>
</div>

